  .App {
    text-align: center;
  }

  h2 {
    margin-top: -5px;
  }
  .col-sm-8 button {
    position: absolute;
    right: 0px;
  }
  .col-sm-8 div {
  border: 4px solid #C0C0C0;
  padding: 5px;
}